.forgot-pass-box {
    margin-top: -10px;
    margin-bottom: 15px;
}

.forgot-pass-link {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.forgot-pass-link:hover {
    color: #17a;
    text-decoration: underline;
}