.navbar-nav .nav-item {
    position: relative;
    margin: 0 5px;
}

.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 10px;
    transition: color 0.6s ease;
}

.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 2px;
    background-color: #0d6efd;

    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    opacity: 0;
}

.navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.navbar-nav .nav-link:hover::before {
    width: 90%;
    opacity: 1;
}

/* Giữ trạng thái active */
.navbar-nav .nav-link.active::before {
    width: 90%;
    opacity: 1;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #0d6efd;
}
.dropdown-item i {
    width: 20px;
    text-align: center;
}
