@import url('app.css');
@import url('auth-style.css');
@import url('client-cart.css');
@import url('client-chat.css');
@import url('client-home.css');
@import url('client-layout.css');
@import url('client-order-detail.css');
@import url('client-order.css');
@import url('client-product.css');
@import url('forgot-password.css');
@import url('client-product-detail.css');
@import url('client-sale.css');